In [198]:
import pandas as pd, plotly.express as px, numpy as np
import plotly.io as pio
import dash_bootstrap_components as dbc
from dash import dcc, html, Dash, Input, Output

In [40]:
df = pd.read_csv('vgchartz-2024.csv')
dfN = df.copy()
dfN = df.drop('img', axis=1)
dfN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  6678 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  56965 non-null  object
 12  last_update   17879 non-null  object
dtypes: float64(6), object(7)
memory usage: 6.3+ MB

In [23]:
# dfN['release_date'] = pd.to_datetime(dfN['release_date'], errors="coerce")
# dfN['last_update'] = pd.to_datetime(dfN['last_update'], errors="coerce")
# dfN['total_sales'] = pd.to_numeric(dfN['total_sales'], errors="coerce")
# dfN['na_sales'] = pd.to_numeric(dfN['na_sales'], errors="coerce")
# dfN['jp_sales'] = pd.to_numeric(dfN['jp_sales'], errors="coerce")
# dfN['pal_sales'] = pd.to_numeric(dfN['pal_sales'], errors="coerce")
# dfN['other_sales'] = pd.to_numeric(dfN['other_sales'], errors="coerce")
# dfN['critic_score'] = pd.to_numeric(dfN['critic_score'], errors="coerce")
# dfN['last_update'].fillna('None', inplace = True)
# dfN['total_sales'].fillna('None', inplace = True)
# dfN['na_sales'].fillna('None', inplace = True)
# dfN['jp_sales'].fillna('None', inplace = True)
# dfN['pal_sales'].fillna('None', inplace = True)
# dfN['other_sales'].fillna('None', inplace = True)
# dfN['critic_score'].fillna('None', inplace = True)
# dfN['developer'].fillna('None', inplace = True)
#
#
#
dfN['rd_year'] = dfN['release_date'].dt.year
dfN75_84 = dfN[dfN['rd_year'].astype('str').str.contains('1975|1976|1977|1978|1979|1980|1981|1982|1983|1984')].copy()
dfN85_94 = dfN[dfN['rd_year'].astype('str').str.contains('1985|1986|1987|1988|1989|1990|1991|1992|1993|1994')].copy()
dfN95_04 = dfN[dfN['rd_year'].astype('str').str.contains('1995|1996|1997|1998|1999|2000|2001|2002|2003|2004')].copy()
dfN05_14 = dfN[dfN['rd_year'].astype('str').str.contains('2005|2006|2007|2008|2009|2010|2011|2012|2013|2014')].copy()
dfN15_24 = dfN[dfN['rd_year'].astype('str').str.contains('2015|2016|2017|2018|2019|2020|2021|2022|2023|2024')].copy()
# # dfNUpdates = dfN[dfN['last_update'].astype('str') != ].copy()
#
# # print(dfN75_84.info())
# # print(dfN85_94.info())
# # print(dfN95_04.info())
# # print(dfN05_14.info())
# # print(dfN15_24.info())
# dfN['release_date'].fillna('None', inplace = True)
# dfN['rd_year'].fillna('None', inplace = True)
# dfN.info()
#
# dfN.to_csv('vgchartzBetter.csv')
dfN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  6678 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  56965 non-null  datetime64[ns]
 12  last_update   17879 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 6.3+ MB

In [49]:
dfN['release_date'] = pd.to_datetime(dfN['release_date'], errors="coerce")
dfN['last_update'] = pd.to_datetime(dfN['last_update'], errors="coerce")


dfN['total_sales'].fillna(0, inplace=True)
dfN['na_sales'].fillna(0, inplace=True)
dfN['jp_sales'].fillna(0, inplace=True)
dfN['pal_sales'].fillna(0, inplace=True)
dfN['other_sales'].fillna(0, inplace=True)
dfN['critic_score'].fillna(0, inplace=True)

dfNLast = dfN.copy()
dfNLast.dropna(subset=['last_update', 'release_date'], inplace=True)
dfNLast.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12580 entries, 1 to 64014
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         12580 non-null  object
 1   console       12580 non-null  object
 2   genre         12580 non-null  object
 3   publisher     12580 non-null  object
 4   developer     12578 non-null  object
 5   critic_score  12580 non-null  float64
 6   total_sales   12580 non-null  float64
 7   na_sales      12580 non-null  float64
 8   jp_sales      12580 non-null  float64
 9   pal_sales     12580 non-null  float64
 10  other_sales   12580 non-null  float64
 11  release_date  12580 non-null  datetime64[ns]
 12  last_update   12580 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 1.3+ MB

C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['total_sales'].fillna(0, inplace=True)
C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['na_sales'].fillna(0, inplace=True)
C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['jp_sales'].fillna(0, inplace=True)
C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['pal_sales'].fillna(0, inplace=True)
C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['other_sales'].fillna(0, inplace=True)
C:\Users\Tanishq\AppData\Local\Temp\ipykernel_21824\2479746532.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfN['critic_score'].fillna(0, inplace=True)

In [58]:
dfN['rd_year'] = dfN['release_date'].dt.year
dfNLast['rd_year'] = dfNLast['release_date'].dt.year
dfN75_84 = dfN[dfN['rd_year'].astype('str').str.contains('1975|1976|1977|1978|1979|1980|1981|1982|1983|1984')].copy()
dfN85_94 = dfN[dfN['rd_year'].astype('str').str.contains('1985|1986|1987|1988|1989|1990|1991|1992|1993|1994')].copy()
dfN95_04 = dfN[dfN['rd_year'].astype('str').str.contains('1995|1996|1997|1998|1999|2000|2001|2002|2003|2004')].copy()
dfN05_14 = dfN[dfN['rd_year'].astype('str').str.contains('2005|2006|2007|2008|2009|2010|2011|2012|2013|2014')].copy()
dfN15_24 = dfN[dfN['rd_year'].astype('str').str.contains('2015|2016|2017|2018|2019|2020|2021|2022|2023|2024')].copy()
dfNL75_84 = dfNLast[dfNLast['rd_year'].astype('str').str.contains('1975|1976|1977|1978|1979|1980|1981|1982|1983|1984')].copy()
dfNL85_94 = dfNLast[dfNLast['rd_year'].astype('str').str.contains('1985|1986|1987|1988|1989|1990|1991|1992|1993|1994')].copy()
dfNL95_04 = dfNLast[dfNLast['rd_year'].astype('str').str.contains('1995|1996|1997|1998|1999|2000|2001|2002|2003|2004')].copy()
dfNL05_14 = dfNLast[dfNLast['rd_year'].astype('str').str.contains('2005|2006|2007|2008|2009|2010|2011|2012|2013|2014')].copy()
dfNL15_24 = dfNLast[dfNLast['rd_year'].astype('str').str.contains('2015|2016|2017|2018|2019|2020|2021|2022|2023|2024')].copy()
dfNL05_14.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3494 entries, 1 to 64004
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3494 non-null   object
 1   console       3494 non-null   object
 2   genre         3494 non-null   object
 3   publisher     3494 non-null   object
 4   developer     3494 non-null   object
 5   critic_score  3494 non-null   float64
 6   total_sales   3494 non-null   float64
 7   na_sales      3494 non-null   float64
 8   jp_sales      3494 non-null   float64
 9   pal_sales     3494 non-null   float64
 10  other_sales   3494 non-null   float64
 11  release_date  3494 non-null   datetime64[ns]
 12  last_update   3494 non-null   datetime64[ns]
 13  rd_year       3494 non-null   int32
dtypes: datetime64[ns](2), float64(6), int32(1), object(5)
memory usage: 395.8+ KB

In [74]:
unqiueTitle = dfN['title'].unique()
uniqueCon = dfN['console'].unique()
uniqueGenre = dfN['genre'].unique()
uniquePub = dfN['publisher'].unique()
uniqueDev = dfN['developer'].unique()

print(len(unqiueTitle))
print(len(uniqueCon))
print(len(uniqueGenre))
print(len(uniquePub))
print(len(uniqueDev))

39798
81
20
3383
8863

In [253]:
# dfN.groupby(['title']).sum()
dfN2 = dfN.drop(columns='release_date').drop(columns='last_update').drop(columns='rd_year').groupby(['title'], as_index=False).sum().copy()
dfN3 = dfN2.drop(columns='console').drop(columns='genre').drop(columns='critic_score').drop(columns='publisher').drop(columns='developer').copy()
ts_Highest = dfN3.sort_values(by='total_sales', ascending = False)[:10]
na_Highest = dfN3.sort_values(by='na_sales', ascending = False)[:10]
jp_Highest = dfN3.sort_values(by='jp_sales', ascending = False)[:10]
pal_Highest = dfN3.sort_values(by='pal_sales', ascending = False)[:10]
os_Highest = dfN3.sort_values(by='other_sales', ascending = False)[:10]

# ONE OF THE FIGURE GROUP IS BELOW
### TAKES THE HIGHEST SALES, FOR EACH GROUP, WITH ACCORDANCE TO THE TITLE

In [ ]:
# print(total_sales_Highest,'\n', na_sales_Highest,'\n', jp_sales_Highest,'\n', pal_sales_Highest,'\n', other_sales_Highest)
fig_ts = px.histogram(ts_Highest, x = ts_Highest.title, y = ts_Highest.total_sales, color= ts_Highest.title,color_discrete_sequence=["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"])
fig_na = px.histogram(na_Highest, x = na_Highest.title, y = na_Highest.na_sales, color= na_Highest.title,color_discrete_sequence=["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"])
fig_jp = px.histogram(jp_Highest, x = jp_Highest.title, y = jp_Highest.jp_sales, color= jp_Highest.title,color_discrete_sequence=["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"])
fig_pal = px.histogram(pal_Highest, x = pal_Highest.title, y = pal_Highest.pal_sales, color= pal_Highest.title,color_discrete_sequence=["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"])
fig_os = px.histogram(os_Highest, x = os_Highest.title, y = os_Highest.other_sales, color= os_Highest.title,color_discrete_sequence=["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"])

fig_ts.show()
fig_na.show()
fig_jp.show()
fig_pal.show()
fig_os.show()

In [241]:

dfNa = dfN.drop(columns='release_date').drop(columns='last_update').drop(columns='rd_year').groupby(['genre']).sum().copy()
dfNb = dfNa.drop(columns='console').drop(columns='publisher').drop(columns='developer').copy()
dfNc = dfNb['total_sales'].sort_values(ascending = False)
dfNc

genre
Sports              1187.51
Action              1125.89
Shooter              995.50
Misc                 557.79
Racing               525.75
Role-Playing         426.80
Platform             349.15
Fighting             341.13
Adventure            325.39
Simulation           300.65
Action-Adventure     148.52
Puzzle               127.28
Strategy             118.31
Music                 51.75
MMO                    9.31
Party                  6.21
Visual Novel           5.78
Sandbox                1.89
Education              0.97
Board Game             0.33
Name: total_sales, dtype: float64

In [71]:


highest_Title = dfN.title.value_counts()[:10].index.tolist()
highest_Console = dfN.console.value_counts()[:10].index.tolist()
highest_Genre = dfN.genre.value_counts()[:5].index.tolist()
highest_Publisher = dfN.publisher.value_counts()[:6].index.tolist()
highest_Developer = dfN.developer.value_counts()[:6].index.tolist()
print(f'{highest_Console}, \n{highest_Genre}, \n{highest_Publisher}, \n{highest_Developer}, \n{highest_Title}')

['PC', 'PS2', 'DS', 'PS4', 'PS', 'NS', 'XBL', 'PSN', 'XOne', 'PS3'],
['Misc', 'Action', 'Adventure', 'Role-Playing', 'Sports'],
['Unknown', 'Sega', 'Ubisoft', 'Electronic Arts', 'Activision', 'Konami'],
['Unknown', 'Konami', 'Sega', 'Capcom', 'Namco', 'Square Enix'],
['Plants vs. Zombies', 'Pac-Man', 'Monopoly', 'Doom', 'Double Dragon', 'Elite', 'Samurai Shodown', 'Lemmings', 'Minecraft', 'Resident Evil 4']