In [4]:
import matplotlib
import numpy as np, pandas as pd, matplotlib.pyplot as plt, sklearn as skl
%matplotlib inline
matplotlib.rcParams['font.size'] = 16
matplotlib.rcParams['figure.figsize'] = (10,6)
df = pd.read_csv('consdata.csv')

In [6]:
df.head()

,Date Time Served,Bar Name,Alcohol Type,Brand Name,Opening Balance (ml),Purchase (ml),Consumed (ml),Closing Balance (ml)
0,1/1/2023 19:35,Smith's Bar,Rum,Captain Morgan,2555.04,1824.84,0.0,4379.88
1,1/1/2023 10:07,Smith's Bar,Wine,Yellow Tail,1344.37,0.00,0.0,1344.37
2,1/1/2023 11:26,Johnson's Bar,Vodka,Grey Goose,1034.28,0.00,0.0,1034.28
3,1/1/2023 13:53,Johnson's Bar,Beer,Coors,2194.53,0.00,0.0,2194.53
4,1/1/2023 22:28,Johnson's Bar,Wine,Yellow Tail,1020.90,0.00,0.0,1020.90

In [7]:
df.tail()

,Date Time Served,Bar Name,Alcohol Type,Brand Name,Opening Balance (ml),Purchase (ml),Consumed (ml),Closing Balance (ml)
6570,1/1/2024 21:03,Anderson's Bar,Beer,Coors,2.467080e+03,0.00,321.06,2146.02
6571,1/1/2024 21:15,Anderson's Bar,Rum,Malibu,8.530000e-14,1743.64,175.05,1568.59
6572,1/1/2024 18:34,Anderson's Bar,Whiskey,Jack Daniels,4.192660e+03,0.00,197.60,3995.06
6573,1/1/2024 22:46,Thomas's Bar,Vodka,Absolut,2.424950e+03,0.00,128.52,2296.43
6574,1/1/2024 21:26,Thomas's Bar,Rum,Bacardi,1.778360e+03,1195.45,572.60,2401.21

In [13]:

uniqueBars = df['Bar Name'].unique()
uniqueAlcohols = df['Alcohol Type'].unique()
uniqueBrandName = df['Brand Name'].unique()
print(uniqueBars)
for bar in uniqueBars:
    df_new = df[df['Bar Name'].str.contains(bar,case='False')]
    print(bar, "\n", df_new.describe())

["Smith's Bar" "Johnson's Bar" "Brown's Bar" "Taylor's Bar"
 "Anderson's Bar" "Thomas's Bar"]
Smith's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1078.000000    1078.000000    1078.000000
mean            2998.329573     316.169045     304.929416
std             2605.689561     585.790369     184.234694
min                0.000000       0.000000       0.000000
25%              854.802500       0.000000     165.727500
50%             2488.360000       0.000000     303.850000
75%             4766.302500     510.720000     452.392500
max            11862.520000    1989.870000    1168.310000

       Closing Balance (ml)
count           1078.000000
mean            3009.566215
std             2614.709938
min                0.000000
25%              847.000000
50%             2491.655000
75%             4829.292500
max            11862.520000
Johnson's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1106.000000    1106.000000    1106.000000
mean            2971.673472     329.132568     311.197450
std             2385.500530     579.641359     184.618594
min                0.000000       0.000000       0.000000
25%             1037.065000       0.000000     173.445000
50%             2448.660000       0.000000     307.915000
75%             4528.910000     645.062500     457.117500
max            11759.000000    1998.320000    1176.860000

       Closing Balance (ml)
count           1106.000000
mean            2989.596989
std             2391.827645
min                0.000000
25%             1045.592500
50%             2483.905000
75%             4542.525000
max            11759.000000
Brown's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1100.000000    1100.000000    1100.000000
mean            2301.608800     303.017355     296.701745
std             1992.804857     564.685620     192.544348
min                0.000000       0.000000       0.000000
25%              625.502500       0.000000     151.205000
50%             1891.145000       0.000000     305.215000
75%             3627.250000     503.585000     445.137500
max             8153.770000    1999.840000    1125.230000

       Closing Balance (ml)
count           1100.000000
mean            2307.912800
std             2014.583355
min                0.000000
25%              608.505000
50%             1879.930000
75%             3647.210000
max             8542.650000
Taylor's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1088.000000    1088.000000    1088.000000
mean            1822.482803     315.958153     289.684338
std             1984.171171     586.518584     195.228940
min                0.000000       0.000000       0.000000
25%              370.622500       0.000000     140.462500
50%             1293.775000       0.000000     286.280000
75%             2515.480000     507.652500     439.735000
max            10008.960000    1993.180000    1176.820000

       Closing Balance (ml)
count           1088.000000
mean            1848.732638
std             2031.093162
min                0.000000
25%              366.925000
50%             1303.135000
75%             2565.980000
max            10850.790000
Anderson's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1102.000000    1102.000000    1102.000000
mean            2608.731016     321.416252     304.735889
std             2391.134246     593.864072     197.780537
min                0.000000       0.000000       0.000000
25%              581.595000       0.000000     160.375000
50%             1960.225000       0.000000     302.090000
75%             4320.597500     533.932500     460.655000
max            11090.860000    1998.600000    1180.580000

       Closing Balance (ml)
count           1102.000000
mean            2625.429120
std             2414.744687
min                0.000000
25%              553.572500
50%             1956.565000
75%             4400.272500
max            11090.860000
Thomas's Bar
        Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1101.000000    1101.000000    1101.000000
mean            2108.436667     309.288311     289.206122
std             2031.510646     582.887489     195.860033
min                0.000000       0.000000       0.000000
25%              377.000000       0.000000     142.840000
50%             1531.830000       0.000000     287.460000
75%             3375.720000       0.000000     448.880000
max             8751.030000    1992.940000    1055.270000

       Closing Balance (ml)
count           1101.000000
mean            2128.503642
std             2041.376071
min                0.000000
25%              367.570000
50%             1546.620000
75%             3436.720000
max             8751.030000

In [12]:
string = "Taylor's Bar"
df_new = df[df['Bar Name'].str.contains(string,case='False')]
print(df_new.describe())

       Opening Balance (ml)  Purchase (ml)  Consumed (ml)  \
count           1088.000000    1088.000000    1088.000000
mean            1822.482803     315.958153     289.684338
std             1984.171171     586.518584     195.228940
min                0.000000       0.000000       0.000000
25%              370.622500       0.000000     140.462500
50%             1293.775000       0.000000     286.280000
75%             2515.480000     507.652500     439.735000
max            10008.960000    1993.180000    1176.820000

       Closing Balance (ml)
count           1088.000000
mean            1848.732638
std             2031.093162
min                0.000000
25%              366.925000
50%             1303.135000
75%             2565.980000
max            10850.790000

In [2]:
df.info()

NameError: name 'df' is not defined

In [32]:
df.sort_values(["Date Time Served"], ascending=True)

,Date Time Served,Bar Name,Alcohol Type,Brand Name,Opening Balance (ml),Purchase (ml),Consumed (ml),Closing Balance (ml)
1,1/1/2023 10:07,Smith's Bar,Wine,Yellow Tail,1.344370e+03,0.00,0.00,1.344370e+03
5,1/1/2023 10:28,Brown's Bar,Vodka,Grey Goose,2.560440e+03,0.00,0.00,2.560440e+03
2,1/1/2023 11:26,Johnson's Bar,Vodka,Grey Goose,1.034280e+03,0.00,0.00,1.034280e+03
13,1/1/2023 11:32,Anderson's Bar,Whiskey,Jim Beam,8.720800e+02,0.00,0.00,8.720800e+02
3,1/1/2023 13:53,Johnson's Bar,Beer,Coors,2.194530e+03,0.00,0.00,2.194530e+03
...,...,...,...,...,...,...,...,...
4547,9/9/2023 18:18,Brown's Bar,Wine,Sutter Home,2.126440e+03,1450.48,371.92,3.205000e+03
4554,9/9/2023 19:04,Thomas's Bar,Wine,Sutter Home,7.744000e+02,0.00,332.68,4.417200e+02
4545,9/9/2023 20:18,Brown's Bar,Rum,Bacardi,6.711840e+03,1646.95,444.62,7.914170e+03
4556,9/9/2023 20:52,Thomas's Bar,Vodka,Smirnoff,6.610480e+03,0.00,583.05,6.027430e+03
4543,9/9/2023 21:05,Johnson's Bar,Whiskey,Jim Beam,2.840000e-13,0.00,0.00,2.840000e-13

In [52]:
df_new = df.sort_values(["Bar Name", "Alcohol Type", "Brand Name"], ascending=True).copy()

In [ ]:
df_new.head()